<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Новости</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Главная</a></li>#}
{#            {% if request.user.is_authenticated %}#}
{#                <li class="nav-item"><a class="nav-link" href="{% url 'add_news' %}">Добавить новость</a></li>#}
{#            {% endif %}#}
{#        </ul>#}

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_news' %}">Добавить новость</a>
                </li>
                    <a class="nav-link" href="{% url 'contact' %}">Обратная связь</a>
                {% endif %}

            </ul>
            {% if request.user.is_authenticated %}
                <span class="navbar-text">
                <li class="last"> {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <span class="navbar-text">
            <a href="{% url 'login' %}">Авторизация</a> | <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}

        </span>
    </div>

    </div>
</nav>