#header,
.module h2, .module caption, .inline-group h2
{
    background: #6f42c1;
    color: #ffffff;

}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #ffffff;
}
div.breadcrumbs {
    background: #2c3034;
}